html{
    height: 100%;
}
body{
    background-color: rgb(255, 228, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
button{
    background-color: rgb(255, 223, 80);
    border-radius: 10px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    border: none;
    margin: 10px;
}
button:hover{
    background-color: rgb(255, 200, 65);
}
.center{
    text-align: center;
}
.sheet .overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.2;
    transition: 0.3s linear;
}
.sheet .drag{
    background-color: #a0a0a0;
    user-select: none;
    height: 5px;
    border-radius: 10px;
    width: 50px;
    margin: 15px 0;
    cursor: grab;
}
.sheet .dragv{
    background-color: #a0a0a0;
    user-select: none;
    height: 50px;
    border-radius: 10px;
    width: 5px;
    margin: 0 15px;
    cursor: grab;
}
.sheet .text{
    overflow-y: scroll;
    height: 100%;
    width: 95%;
    scrollbar-width: none;
    padding: 0 20px;
    text-align: justify;
}
.sheet .text::-webkit-scrollbar{
    width: 0;
}

/* bottom */

#bsheet{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: 0.1s linear;
}
#bsheet .content{
    background: #fff;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    max-height: 100%;
    position: relative;
    transform: translateY(100%);
    transition: 0.3s ease;
}
#bsheet.appear .content{
    transform: translateY(0%);
}
#bsheet.appear{
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}
#bsheet.dragging .content{
    transition: none;
}
#bsheet.full .content{
    border-radius: 0;
}

/* top */

#tsheet{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: baseline;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: 0.1s linear;
}
#tsheet.appear{
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}
#tsheet.dragging .content{
    transition: none;
}
#tsheet .content{
    background: #fff;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: end;
    margin: 0;
    position: relative;
    transform: translateY(-200%);
    transition: 0.3s ease;
}
#tsheet.appear .content{
    transform: translateY(0%);
}
#tsheet.full .content{
    border-radius: 0;
}

/* right */

#rsheet{
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: end;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: 0.1s linear;
}
#rsheet.appear{
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}
#rsheet.dragging .content{
    transition: none;
}
#rsheet .content{
    background: #fff;
    border-radius: 15px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
    height: 100%;
    position: relative;
    transform: translateX(200%);
    transition: 0.3s ease;
}
#rsheet.appear .content{
    transform: translateY(0%);
}
#rsheet.full .content{
    border-radius: 0;
}

/* left */

#lsheet{
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: start;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: 0.1s linear;
}
#lsheet.appear{
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}
#lsheet.dragging .content{
    transition: none;
}
#lsheet .content{
    background: #fff;
    border-radius: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
    height: 100%;
    position: relative;
    transform: translateX(-100%);
    transition: 0.3s ease;
}
#lsheet.appear .content{
    transform: translateY(0%);
}
#lsheet.full .content{
    border-radius: 0;
}
